:root {
  // COLOR SCHEME
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;

  --color-secondary-light: #fab970;
  --color-secondary-dark: #ff7730;

  --color-tertiary-light: #2998ff;
  --color-tertiary-dark: #5643fa;

  --color-white: #fff;

  --color-gray-light-1: #faf9f9;
  --color-gray-light-2: #f4f2f2;
  --color-gray-light-3: #f0eeee;
  --color-gray-light-4: #ccc;

  --color-gray-dark-1: #999;
  --color-gray-dark-2: #777;
  --color-gray-dark-3: #333;

  --color-black: #000;

  // FONTS
  --default-font-size: 1.6rem;

  // SHADOWS
  --shadow-light: 0 1rem 3rem rgba(0,0,0,.1);
  --shadow-med: 0 1rem 3rem rgba(0,0,0,.2);
  --shadow-dark: 0 2rem 5rem rgba(0,0,0,.3);

  // LINES
  --line: 2px solid var(--color-gray-light-3);
}

// SASS VARIABLES

$bp-largest: 75em;   // 1200px
$bp-large: 68.75em;   // 1100px
$bp-medium: 56.25em;   // 900px
$bp-tab: 43.75em; // 700px
$bp-small: 37.5em;   // 600px
$bp-lg-mob: 31.25em;   // 500px
$bp-md-mob: 26.5625em;   // 425px


// for low level basics such as
// resets,
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  // this defines 1rem = 10px;

  font-size: 62.5%; // 10px/16px = 62.5%  default browser font size = 16px

  @media only screen and (max-width: $bp-large) {
    font-size: 50%;  // 8px
  }

  // @include media(tab-port) {
  //   font-size: 56.25%;
  // } // 9px/16px = 56.25%  default browser font size = 16px

  // @include media(small-tab) {
  //   font-size: 50%;
  // } // 8px/16px = 50%  default browser font size = 16px

  // @include media(phone) {
  //   font-size: 43.75%;
  // } // 7px/16px = 43.75%  default browser font size = 16px

  // @include media(large-desktop) {
  //   font-size: 75%;
  // } // 12px/16px = 75%  default browser font size = 16px
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: var(--default-font-size);
  line-height: 1.5;
  box-sizing: border-box;
  background-image: linear-gradient(
    to right bottom,
    var(--color-primary-light),
    var(--color-primary-dark)
  );
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  color: var(--color-gray-dark-2);

  @include media(tab-port) {
    padding: 0;
  }
}

::-webkit-scrollbar {
  width: 10px;

  &-track {
    border-radius: 2px;
  }

  &-thumb {
    background-color: var(--color-gray-light-4);
  }
}

::selection {
  background-color: var(--color-primary);
  color: var(--color-white);
}
