//  --------------- BUTTON

.btn {
  font-size: var(--default-font-size);
  width: 20rem;
  padding: 1rem 1rem;
  text-transform: uppercase;
  outline-style: none;
  border: none;
  border-radius: 10rem;
  position: relative;

  &:link,
  &:visited {
    text-decoration: none;
  }

  @media (hover: hover) {
    &:hover {
      cursor: pointer;
      box-shadow: 0px 2px 10px 0px rgba(var(--color-black), 0.3);
      transform: translateY(-0.3rem);

      &::after {
        transform: scale(1.3, 1.5);
        opacity: 0;
      }
    }
  }

  &:active {
    transform: translateY(-0.1rem);
    box-shadow: 0px 2px 5px 0px rgba(var(--color-black), 0.3);
  }

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    display: inline-block;
    border: none;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }

  &--white {
    background-color: var(--color-white);
    color: var(--color-gray-dark-3);

    &::after {
      background-color: var(--color-white);
    }
  }

  &--green {
    background-color: var(--color-primary);
    color: var(--color-white);

    &::after {
      background-color: var(--color-primary);
    }
  }
}

.btn-text {
  &:link,
  &:visited {
    color: var(--color-primary);
    font-size: var(--default-font-size);
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid var(--color-primar) y;
    padding: 3px;
    transition: all 0.2s;
  }

  @media (hover: hover) {
    &:hover {
      transform: translateY(-3px);
      background-color: var(--color-primary);
      color: var(--color-white);
      box-shadow: 0 1rem 1.5rem rgba(var(--color-black), 0.2);
    }
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(var(--color-black), 0.2);
  }
}

// -----------------  POPUP

// HTML POPUP

// <div class="popup" id="booking-popup">
// <div class="popup__content-box">
//   <section class="popup__section--left">
//     <img src="img/nat-8.jpg" alt="Fig.1" class="popup__img" />
//     <img src="img/nat-9.jpg" alt="Fig.2" class="popup__img" />
//   </section>
//   <section class="popup__section--right">
//     <a href="#booking-card-section" class="popup__close">&times;</a>
//     <h2 class="heading-secondary u-margin-bottom-medium">
//       Adventurous tour waiting for you
//     </h2>
//     <h3 class="heading-tertiary u-margin-bottom-small">
//       Important &ndash; please read the terms before booking
//     </h3>
//     <p class="popup__text u-margin-bottom-medium">
//       Of course, many developers have only a hazy understanding of what
//       accessibility means — something to do with government contracts,
//       checklists, and screen readers, right? — and there are plenty of
//       misconceptions floating around. For example, many developers feel
//       that addressing accessibility will force them to choose between
//       creating a delightful and attractive experience, and one that is
//       clunky and ugly but accessible.
//     </p>
//     <button class="btn btn--green">Book Now!</button>
//   </section>
// </div>
// </div>

// SASS POPUP

.popup {
  width: 100%;
  height: 100vh;
  background-color: rgba(var(--color-black), 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;

  // IN CASE YOU WANT TO BLUR BACKGROUND OF POP-UP BUT IS JAM OR EXCLUDE THE SMOTHNESS OF ANIMATIONS AND WEB PAGE.

  // @supports (backdrop-filter: blur()) or (-webkit-backdrop-filter: blur()) {
  //   -wwebkit-backdrop-filter: blur(5px);
  //   backdrop-filter: blur(5px);
  //   background-color: rgba(--color-black, .7);
  // }

  &__section {
    &--left {
      width: 33.333%;
      display: table-cell;

      @include media(tab-land) {
        width: 0%;
        display: none;
      }
    }

    &--right {
      width: 67.6667%;
      padding: 4rem;
      display: table-cell;
      vertical-align: middle;

      @include media(tab-land) {
        width: 100%;
      }
    }
  }

  &__img {
    display: block;
    width: 100%;
  }

  &__text {
    font-size: var(--default-font-size);
    color: var(--color-gray-dark-1);
    column-count: 2;
    column-gap: 3rem;
    column-rule: 1px solid var(--color-gray-light-4);
    hyphens: auto;

    @include media(tab-land) {
      column-gap: 5rem;
    }

    @include media(tab-port) {
      width: 85%;
      column-count: 1;
    }

    @include media(small-tab) {
      width: 100%;
      column-count: 1;
    }
  }

  // POPUP OPEN STATES

  &:target {
    opacity: 1;
    visibility: visible;
  }

  &__content-box {
    @include center-hr-vt;
    width: 80%;
    height: 40rem;
    background-color: var(--color-white);
    display: table;
    border-radius: 3px;
    overflow: hidden;
    opacity: 0;
    transition: all 0.4s 0.2s ease;
    transform: translate(-50%, -50%) scale(0.2);
  }

  &:target &__content-box {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  // POPUP CLOSE BUTTON

  &__close {
    &:link,
    &:visited {
      position: absolute;
      top: 2rem;
      right: 2rem;
      display: inline-block;
      font-size: 3rem;
      color: var(--color-gray-dark-1);
      line-height: 1;
      text-decoration: none;
      transition: all 0.1s;
    }

    &:hover,
    &:active {
      color: var(--color-primary);
    }
  }
}

////////////////////////////////////////////////////
///LOGO

.logo {
  height: 3.25rem;
  margin-left: 2rem;
}

////////////////////////////////////////////////////
///SEARCH

.search {
  flex: 0 0 40%;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &__input {
    background-color: var(--color-gray-light-2);
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    border: none;
    padding: 0.7rem 1.5rem;
    border-radius: 70px;
    width: 90%;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    margin-right: -3.5rem;

    &:focus {
      background-color: var(--color-gray-light-3);
      outline: none;
      width: 100%;
    }
  }

  ::-webkit-input-placeholder {
    font-size: inherit;
    color: var(--color-gray-light-4);
  }

  &__input:focus + &__btn {
    background-color: var(--color-gray-light-3);
  }

  &__btn {
    background-color: var(--color-gray-light-2);
    border: none;

    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(1px);
    }
  }

  &__logo {
    height: 2rem;
    width: 2rem;
    fill: var(--color-gray-dark-2);
  }
}

////////////////////////////////////////////////////
///USER NAVIGATION

.user-nav {
  align-self: stretch;

  display: flex;
  align-items: center;
  justify-content: space-between;

  & > * {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    &:hover {
      background-color: var(--color-gray-light-3);
    }
  }

  &__icon-box {
    position: relative;
    padding: 0 2rem;
  }

  &__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-gray-dark-2);
  }

  &__notification {
    height: 1.8rem;
    width: 1.8rem;
    font-size: 0.8rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: var(--color-white);
    position: absolute;
    top: 1.5rem;
    right: 1.1rem;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__user {
    padding: 1rem 2rem 1rem 1rem;
  }

  &__user-photo {
    width: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem;
  }
}

////////////////////////////////////////////////////
///SIDE NAVIGATION

.side-nav {
  margin-top: 3.5rem;
  list-style: none;

  display: flex;
  flex-direction: column;
  justify-content: start;

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }

  &__item::before {
    content: "";
    height: 100%;
    width: 3px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-primary);
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,
      background-color 0.1s;
    z-index: 2;
  }

  &__item:hover::before,
  &__item--active::before {
    transform: scaleY(1);
    width: 100%;
  }

  &__item:active::before {
    background-color: var(--color-primary-light);
  }

  &__link:link,
  &__link:visited {
    position: relative;
    display: block;
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
    padding: 1.5rem 2rem;
    z-index: 4;
    display: flex;
    align-items: center;
  }

  &__icon {
    height: 1.75rem;
    width: 1.75rem;
    fill: currentColor;
    margin-right: 1rem;
  }
}

////////////////////////////////////////////////////
/// HOTEL GALLERY

.gallery {
  display: flex;

  &__photo {
    width: 100%;
    height: 100%;
  }
}

////////////////////////////////////////////////////
/// HOTEL OVERVIEW

.overview {
  display: flex;
  align-items: center;
  border-bottom: 2px solid var(--color-gray-light-2);

  &__heading {
    font-size: 2.3rem;
    font-weight: 300;
    padding: 1.5rem 2rem;
  }

  &__stars {
    margin-right: auto;
    display: flex;
  }

  &__icon-star,
  &__icon-location {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--color-primary);
  }

  &__location {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
  }

  &__icon-location {
    margin-right: 0.5rem;
  }

  &__rating {
    background-color: var(--color-primary);
    color: var(--color-white);
    margin-left: 2rem;
    padding: 0 2rem;
    align-self: stretch;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__rating-average {
    font-size: 2.25rem;
    font-weight: 300;
  }

  &__rating-count {
    font-size: 0.8rem;
    text-transform: uppercase;
  }
}

////////////////////////////////////////////////////
/// BUTTON INLINE
.btn-inline {
  text-decoration: none;
  border: none;
  color: var(--color-primary);
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  display: inline-block;
  background: transparent;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    color: var(--color-gray-dark-3);
  }

  &:active {
    outline: none;
    transform: scale(.98);
  }
}
